@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Rubik";
}

body {
  background-color: black;
}

.form-input {
  @apply text-slate-700 rounded-md p-3 m-2 outline-none bg-slate-200 placeholder:text-slate-500 resize-none;
}
